name: Debug La Liga Update

on:
  schedule:
    - cron: '0 18 * * 2'
  workflow_dispatch:

jobs:
  debug-update:
    runs-on: ubuntu-latest
    
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kutuphaneleri Yukle
        run: |
          pip install -r requirements.txt

      - name: Dosyalari Kontrol Et (Ls Komutu)
        run: ls -la # Bu adim dosyalarin orada olup olmadigini gosterir

      - name: Scripti Calistir
        env:
          FOOTBALL_API_KEY: ${{ secrets.FOOTBALL_API_KEY }}
          KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
          KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
        run: python main.py
